{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
<style>
    background-color:lightskyblue;
</style>

{% block body %}
<div class="content">
    <h2 style=" margin-top:200px;">Please Search Your Product To Find Customers Review</h2>

    <div class="form">
        <form action="/scrap" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>
</div>

{% endblock %}
